
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Documentation</h1>
<hr />
<h2>Contents</h2>
<div style="border:1px solid darkorange;padding:10px;background-color:blanchedalmond">
    <ul style="font-size:18px">
        <li><a href="#assignInfo">1. Assignment Information</a></li>
        <li><a href="#webDesign">2. Web Site Design</a></li>
        <ul>
            <li><a href="#pageHierachy">2.1 Web Pages Hierachy</a></li>
            <li><a href="#homePage">2.2 Home Page</a></li>
            <li><a href="#showPage">2.3 Show Page</a></li>
            <li><a href="#orderPage">2.4 Order Page</a></li>
        </ul>
        <li><a href="#jQueryFun">3. jQuery function</a></li>
<li><a href="#Acknowledgement">4. Acknowledgement</a></li>
    </ul>
    <br />
    <h2 id="assignInfo">1. Assignment Information</h2>
    <div>
        <table border="0" cellpadding="10" style="font-size:18px">
            <tr>
                <td><b>Author:</b></td>
                <td>
                    YuXue ID:28198751, E-Mail: xyuu0001@student.monash.edu<br />
                    ChenJin ID:28198891, E-Mail: jche0006@student.monash.edu
                </td>
            </tr>
            <tr>
                <td><b>Author:</b></td>
                <td>
                    YuXue ID:28198751, E-Mail: xyuu0001@student.monash.edu<br />
                    ChenJing ID:28198891, E-Mail: jche0006@student.monash.edu
                </td>
            </tr>
            <tr>
                <td><b>Unit Name:</b></td>
                <td>
                    Internet Appplications and Web Services
                </td>
            </tr>
            <tr>
                <td><b>Unit Code:</b></td>
                <td>
                    FIT5192
                </td>
            </tr>
            <tr>
                <td><b>Unit Provider:</b></td>
                <td>
                    Monash University, The Caulfield School of Information Technology
                </td>
            </tr>
            <tr>
                <td><b>Assignment Number:</b></td>
                <td>
                    Assignment2
                </td>
            </tr>
            <tr>
                <td><b>Date of Submission:</b></td>
                <td>
                    Aug.2017
                </td>
            </tr>
            <tr>
                <td><b>Lecturer/Tutor:</b></td>
                <td>
                    Jue (Grace) XIE
                </td>
            </tr>
            <tr>
                <td><b>Division of Task:</b></td>
                <td>
                    YuXue: Home Page,  Order Page,  database design, Documentation<br />
                    ChenJin: Show Page, using jQuery function and control to implement the create Order function , Web frond end design.
                </td>
            </tr>
        </table>
    </div>
    <h2 id="webDesign">2. Web Site Design</h2>
    <h3 id="pageHierachy">2.1 Web Pages Hierachy</h3>
    <img src="~/Images/Web Hietachy.jpg" height="600" width="1000" />

    <h3 id="homePage">2.2 Home Page</h3>
    <img src="~/Images/homePage.jpg" height="600" width="1000" />
    <h4><b>Note: The pictures are gathered from Internet</b></h4>

    <h3 id="showPage">2.3 Show Page</h3>
    <img src="~/Images/show.jpg" height="600" width="1000" />
    <h4>Edit Page:</h4>
    <img src="~/Images/showEdit.jpg" height="600" width="1000" />
    <h4>Create Page:</h4>
    <img src="~/Images/showCreate.jpg" height="600" width="1000" />
    <h4>Detail Page:</h4>
    <img src="~/Images/showDetail.jpg" height="600" width="1000" />
    <h4>Delete Page</h4>
    <img src="~/Images/showDelete.jpg" height="600" width="1000" />

    <h3 id="orderPage">2.4 Order Page</h3>
    <img src="~/Images/order.jpg" height="600" width="1000" />
    <h4>Edit Page:</h4>
    <img src="~/Images/orderEdit.jpg" height="600" width="1000" />
    <h4>Create Page:</h4>
    <img src="~/Images/orderCreate.jpg" height="600" width="1000" />
    <h4>Detail Page</h4>
    <img src="~/Images/orderDetail.jpg" height="600" width="1000" />
    <h4>Delete Page</h4>
    <img src="~/Images/orderDelete.jpg" height="600" width="1000" />

    <h2 id="jQueryFun">3. JQuery function</h2>
    <h4>JQuery Validation, required validation and valid number validation is used:</h4>
    <img src="~/Images/required.jpg" height="600" width="1000" /><br /><br />
    <img src="~/Images/number.jpg" height="600" width="1000" />
    <h4>Datepicker:</h4>
    <img src="~/Images/datapicker.jpg" height="600" width="1000" />
    <h4>Alernating row colouring:</h4>
    <img src="~/Images/color.jpg" height="600" width="1000" />
    
    <h2 id="Acknowledgement">4. Acknowledgement</h2>
    <h4>Homepage Picture:</h4>

    <ul>
        <li><strong>Note:</strong> The website logo is designed by ourself.</li>
        <li>ColdPlay Concert: <a href="http://coldplay.com">http://coldplay.com</a></li>
        <li>Maksim Mrvica: <a href="http://slide.mn.sina.com.cn/slide_47_33174_339627.html#p=1">http://slide.mn.sina.com.cn/slide_47_33174_339627.html#p=1</a></li>
    </ul>
</div>


