.head {
    background-color: #3366CC;
    height: 50px;
    padding-left: 150px;
}

.head-menu {
    margin-top: 5px;
    float: left;
}

.topic {
    /*align-content:center;*/
    align-content: center;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.body {
    
    align-content: center;
    align-items: center;
    text-align: center;
}
