<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authentication mode="Forms">
        <forms name="ass" path="/" loginUrl="~/Account/Login.aspx" protection="All" timeout="10"/>
      </authentication>
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>

</configuration>
